
Main-Firmware-Dev-Board/Debug/Core/Src/LP5024_Driver.d
Main-Firmware-Dev-Board/Debug/Core/Src/LP5024_Driver.o
Main-Firmware-Dev-Board/.settings/stm32cubeide.project.prefs
Main-Firmware-Dev-Board/Debug/Core/Src/LP5024_Driver.su
Main-Firmware-Dev-Board/Debug/Core/Src/main.d
Main-Firmware-Dev-Board/Debug/Core/Src/main.o
Main-Firmware-Dev-Board/Debug/Core/Src/main.su
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_hal_msp.d
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_hal_msp.o
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_hal_msp.su
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_it.d
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_it.o
Main-Firmware-Dev-Board/Debug/Core/Src/stm32g0xx_it.su
Main-Firmware-Dev-Board/Debug/Core/Src/subdir.mk
Main-Firmware-Dev-Board/Debug/Core/Src/syscalls.d
Main-Firmware-Dev-Board/Debug/Core/Src/syscalls.o
Main-Firmware-Dev-Board/Debug/Core/Src/syscalls.su
Main-Firmware-Dev-Board/Debug/Core/Src/sysmem.d
Main-Firmware-Dev-Board/Debug/Core/Src/sysmem.o
Main-Firmware-Dev-Board/Debug/Core/Src/sysmem.su
Main-Firmware-Dev-Board/Debug/Core/Src/system_stm32g0xx.d
Main-Firmware-Dev-Board/Debug/Core/Src/system_stm32g0xx.o
Main-Firmware-Dev-Board/Debug/Core/Src/system_stm32g0xx.su
Main-Firmware-Dev-Board/Debug/Core/Startup/startup_stm32g0b1retx.d
Main-Firmware-Dev-Board/Debug/Core/Startup/startup_stm32g0b1retx.o
Main-Firmware-Dev-Board/Debug/Core/Startup/subdir.mk
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_cortex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_cortex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_cortex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_exti.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_exti.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_exti.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_gpio.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_gpio.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_gpio.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_i2c_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pcd_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart_ex.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart_ex.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_uart_ex.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_dma.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_dma.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_dma.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_rcc.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_rcc.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_rcc.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_usb.d
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_usb.o
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_usb.su
Main-Firmware-Dev-Board/Debug/Drivers/STM32G0xx_HAL_Driver/Src/subdir.mk
Main-Firmware-Dev-Board/Debug/Main-Firmware-Dev-Board.elf
Main-Firmware-Dev-Board/Debug/Main-Firmware-Dev-Board.list
Main-Firmware-Dev-Board/Debug/Main-Firmware-Dev-Board.map
Main-Firmware-Dev-Board/Debug/makefile
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CustomHID/Src/subdir.mk
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CustomHID/Src/usbd_customhid.d
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CustomHID/Src/usbd_customhid.o
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CustomHID/Src/usbd_customhid.su
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/subdir.mk
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.d
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.o
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_core.su
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.d
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.o
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.su
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.d
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.o
Main-Firmware-Dev-Board/Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/usbd_ioreq.su
Main-Firmware-Dev-Board/Debug/objects.list
Main-Firmware-Dev-Board/Debug/objects.mk
Main-Firmware-Dev-Board/Debug/sources.mk
Main-Firmware-Dev-Board/Debug/USB_Device/App/subdir.mk
Main-Firmware-Dev-Board/Debug/USB_Device/App/usb_device.d
Main-Firmware-Dev-Board/Debug/USB_Device/App/usb_device.o
Main-Firmware-Dev-Board/Debug/USB_Device/App/usb_device.su
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_custom_hid_if.d
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_custom_hid_if.o
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_custom_hid_if.su
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_desc.d
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_desc.o
Main-Firmware-Dev-Board/Debug/USB_Device/App/usbd_desc.su
Main-Firmware-Dev-Board/Debug/USB_Device/Target/subdir.mk
Main-Firmware-Dev-Board/Debug/USB_Device/Target/usbd_conf.d
Main-Firmware-Dev-Board/Debug/USB_Device/Target/usbd_conf.o
Main-Firmware-Dev-Board/Debug/USB_Device/Target/usbd_conf.su
Main-Firmware-Dev-Board/.settings/stm32cubeide.project.prefs
Main-Firmware-Dev-Board/.settings/stm32cubeide.project.prefs
